@model IEnumerable<ReceivedItem>

@{
    ViewData["Title"] = "ItemStore";
}
@{
    int rowIndex = 0;
}
@if (Model != null && Model.Any())
{
    <div class="container-fluid tender-parent text-center  mt-10">
        <h1 class="tender-header">  <i class="fa-solid fa-arrow-right"></i>Store Items</h1>
        <div class="tenderTable container">
            <partial name="SearchPartionView" />
            <div class="row text-center">
                <div class="col-md-12">
                    <table class="table table-bordered" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="table-pramiry tender-table">
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quantity)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="@(rowIndex % 2 == 0 ?   "odd-table" : "even-table")">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quantity)
                                    </td>
                                </tr>
                                rowIndex++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <partial name="NotDataFoundPartialView" />
}