@model IEnumerable<RequiredItem>

@{
    ViewData["Title"] = "ValidItems";
}
@{
    int rowIndex = 0;
}
@if (Model != null && Model.Any())
{
    <div class="container-fluid tender-parent text-center  mt-10">
        <h1 class="tender-header"> <i class="fa-solid fa-arrow-right"></i> Valid Items</h1>
        <div class="tenderTable container">
            <div class="row text-center">
                <div class="col-md-12">
                    <table class="table table-bordered" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr class="table-pramiry tender-table">
                                <th>

                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Type)
                                </th>
                                @if (User.IsInRole("Purchases_Manager"))
                                {
                                    <th>
                                        @Html.DisplayNameFor(model => model.InitialPrice)
                                    </th>
                                    <th></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                rowIndex++;
                                <tr class="@(rowIndex % 2 == 0 ? "even-table" : "odd-table" )">
                                    <td>
                                        @rowIndex
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    @if (User.IsInRole("Purchases_Manager"))
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InitialPrice)
                                        </td>

                                        <td>
                                            <a class="text-decoration-none btn text-bg-success" asp-action="Add" asp-route-id="@item.Id" asp-controller="AlternativeItem">RAI</a> @*  write Alternative Items *@
                                        </td>
                                    }
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group d-flex justify-content-end ">
                <a class="btn btn-success" asp-action="index" asp-controller="home">Ok</a>
            </div>
        </div>
    </div>
}
else
{
    <partial name="NotDataFoundPartialView" />
}
