@model IEnumerable<Member>

@{
    ViewData["Title"] = "search";
}

@{
    int rowIndex = 0;
}

<div class="container-fluid tender-parent text-center  mt-10">
    <h1 class="tender-header">All Members</h1>
    <div class="tenderTable container">
        <partial name="MemberSearchPartialView" />
        <div class="row text-center">
            <div class="col-md-12">
                <table class="table table-bordered" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr class="table-pramiry tender-table">
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>Phone Number</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            rowIndex++;
                            <tr class="@(rowIndex % 2 == 0 ?   "even-table" : "odd-table" )">
                                <td>@rowIndex</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>@item.PhoneNumber</td>
                                <td>
                                    @if (item.Password == null)
                                    {
                                        <a asp-action="EditGeneralMember" asp-controller="Member" asp-route-id="@item.Id" class="btn btn-secondary"><i class="bi bi-pen"></i></a>
                                    }
                                    else
                                    {
                                        <a asp-action="EditMember" asp-controller="Member" asp-route-id="@item.Id" class="btn btn-secondary"><i class="bi bi-pen"></i></a>
                                    }
                                    | <a asp-action="Delete" asp-controller="Member" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
