@model IEnumerable<Offer>

@{
    ViewData["Title"] = "Index";
}

@if (Model != null && Model.Any())
{
    <div class="tender-parent">
        <div class="container">
            <h1 class="text-center"> <i class="fa-solid fa-arrow-right"></i> Offers</h1>
            <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-12 col-lg-4">
                    <div class="card w-100  mb-3">
                            <a class="btn btn-primary" style="border-radius: 5px 5px 0px 0px;" asp-action="UpdateAccepted" asp-controller="AcceptItem" asp-route-id="@item.id" asp-route-tid="@Model.FirstOrDefault()!.alternativeItems.FirstOrDefault()!.RequiredItem.TenderId">
                                <div class="card-header" style="border-bottom: 0;">The Offer</div>
                        @* </a>  *@
                        @* <a class="btn btn-light" style="border-radius:0px;" asp-action="Details" asp-controller="Offer" asp-route-id="@item.id"> *@
                            <div class="card-body text-start">
                                    <h4 class="card-title" style="height:60px"><b>Offer From :</b>  @item.Vendor.Name</h4>
                                <h4 class="card-title"><b>Create On : </b> @item.CreateOn</h4>
                            </div>
                         </a> 
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
}
else
{
    <partial name="NotDataFoundPartialView" />
}
