 @model Offer

@{
    ViewData["Title"] = "UpdateIsAccept";
}
@{
    int rowIndex = 0;
}
<div class="container-fluid tender-parent text-center  mt-10">
    <h1 class="tender-header space"><i class="fa-solid fa-arrow-right"></i>Choose Accept Item</h1>
    <div class="tenderTable container">
        <div class="row text-center">
            <div class="col-md-12">
                <form asp-action="UpdateAccepted" asp-controller="AcceptItem" method="post">
                    @foreach (var group in Model.alternativeItems.GroupBy(item => item.RequiredItem.Name))
                    {
                        <table class="table table-bordered" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr class="table-primary">
                                    <th rowspan="3"><b>ALternative of :</b> @group.Key</th>   
                                    <th rowspan="3"></th>
                                    <th rowspan="3"></th>
                                    <th>IsAccept</th>
                                    </tr>
                                </thead>                            
                            @foreach (var item in group)
                            {
                                <tbody>
                                    <tr class="@(rowIndex % 2 == 0 ? "odd-table" : "even-table")">
                                        <td>@item.Name</td>
                                        <td>@item.Type</td>
                                        <td>@item.Price</td>
                                        <td>
                                            <input type="checkbox"
                                                   class="item-checkbox"
                                                   value="@item.Name"
                                                   name="UniqueName"
                                                   checked="@item.IsAccept"
                                                   id="IsAccept_@item.Name" />

                                        </td>
                                    </tr>
                                </tbody>
                                rowIndex++;
                            }
                        </table>
                    }
                    <div class="form-group d-flex justify-content-end space">
                        <input type="submit" class="btn btn-primary " />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>